.dib {
  display: inline-block;
  text-align: left;
}
#box {
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}

#box div {
  font-size: 10px;
  color: #ccc;
}

#box h1 {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: inherit;
}
.titre1 {
  font-size: 13px;
  color: #000;
}

.btn {
  width: 170px;
  height: 40px;
  margin-top: 30px;
  font-size: 16px;
  border: inherit;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  background-color: #FF5500;
}
