#body3
{
    background-color: #333;
    background-image: linear-gradient(to right, #333, #111 30%);
	position: relative;
	color: white;
	height: 350px;
	z-index: 1;
	margin-top: -27px;
}

#body3 span
{
	color : blue;
}

#body3 h2
{
padding-top : 50px;
margin-left : 10%;
font-size : 32px;
text-align: left;
}

#find
{
	border: 1px solid white;
	height: 30px;
	width: 100px;
	padding: 5px;
	font-size: 16px;
	margin-left : 10%;
}

#get
{
	margin-left : 10%;
	font-size : 24px;
	text-align : left;
}

#imageBody3
{
	z-index: 5;
	background-image: url("img/imageBody3.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    bottom: 0;
    height: 350px;
    position: absolute;
    right: 0;
    top: 0;
    width: 442px;
    border-radius: 50% 0 0 50%;
}

#imageBody3::before {
    background-image: radial-gradient(100% 100% at right center , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, #111);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
   }
