body {
  text-align: center;
  font-family:"Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  color: #333333;
}

button {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
}

p button {
  background-color: #fff;
  border-color: #fff;
  color: #333333;
}
