#footer2a {
  font-size: 11px;


}
 #footer2a a {
   text-decoration: none;
 color: grey;
}

#footer2b {
  font-size: 11px;
}


#footer2b a {
  text-decoration: none;
color: grey;
}

#bleu {
  color: blue;
}

#creators {
  color: #CCC;
}
