body{
  margin-top: 0;
}
/* -- CSS HEADER-- */
header{
  background-image: url('https://a-v2.sndcdn.com/assets/images/front/search-hero/zedsdead-fc6718.jpg');
  background-position: center top;
  background-repeat:no-repeat;
  height: 500px;
  margin-top: 0;
  margin-left: auto; margin-right: auto;
  border-top: 4px solid #FF5500;
  padding-top: 0;
  width: 1241px;
}

#titre img, #titre h1{
  display: inline-block;
  vertical-align: middle;
}
#titre img{
  margin-left: 20px;
}
#titre{
  margin-top: 3px;
  margin-left: 10px;
  float: left;
  padding-top: -6px;
}

#titre h1{
  font-size: 1.1em;
  margin-left: 5px;
  color: #FFF;
}

#titre, #login{
  display: inline-block;
}

#login{
  float: right;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 0.85em;
}

#sign_in, #create_account{
  display: inline-block;
}

#sign_in{
  border: 1px solid #FFF;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#sign_in a{

  color: #FFF;
  text-decoration: none;
}

#create_account{
  background-color: #FF5500;
  border: 1px solid #FF5500;
  border-radius: 3px;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#create_account a{
  color: #FFF;
  text-decoration: none;
}

header h2{
  color: #FFF;
  font-size: 2.0em;
  margin-top: 257px;
  line-height: 40px;
}

#form{
  color: #FFF;
  margin-top: 20px;
}
#form input{
  background-color: #E5E5E5;

  border-radius: 3px;
  height: 35px;
  width: 615px;
}

#form input, #form p, #form #upload{
  display: inline-block;
  vertical-align: middle;
}
#upload{
  border: 1px solid #FFF;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 31px;
  margin-left: 10px;
}

#form p{
  margin-left: 10px;
}
#upload a{
  color: #FFF;
  text-decoration: none;
  line-height: 35px;
}
